<h1>Courbe de poids</h1>

<p id="sample_actions">
<%= link_to "Nouveau poids", new_sample_path, :class => 'button popup_link' %>
</p>

<div class='popup'>
	<h4>Nouveau poids <%= link_to('X', '#', :class => 'close') %></h4>
	<%= render 'form' %>
</div>

<% if @samples.size > 0 %>
<script type="text/javascript" charset="utf-8">
	$(function(){

    new Highcharts.StockChart({
			chart : { renderTo : 'sample_stockchart', zoomType : 'x' },
			rangeSelector : { selected : 1 },
      title : { text : 'Courbe de poids' },
		  xAxis: { ordinal: false },
		  yAxis: { title: { text: "Poids" }},

			series: [{
        name: "Poids",
        data: <%= @samples.map{|s| [s.utc_date, s.weight.to_f] }.to_s.html_safe %>
      }]
    });
	})
</script>

<div id="sample_stockchart" style="width:930px;height:400px"></div>

<table id="samples">
	<tr>
		<th>Date</th>
		<th>Poids</th>
		<th>&nbsp;</th>
	</tr>
<% for sample in @data %>
<tr>
	<td><%= l(sample.sampled_at, :format => :long) %></td>
	<td><%= number_to_human(sample.weight, :precision => 5) %> kg</td>
	<td>
		<%= link_to 'modifier', edit_sample_path(sample)  %>
		<%= link_to 'supprimer', sample_path(sample), :method => :delete  %>
	</td>
</tr>
<% end %>
</table>
<% end %>
<%= will_paginate @data, previous_label: h("<"), next_label: h(">") %>
